<div class="navbar navbar-expand-lg custom-header text-light">
    <div class="container-fluid">
        <a href="home"><img class= "mx-lg-3" src="/static/images/FBSC.png" style="width: 150px; height: 65px;"></a>
        <span class="navbar-brand" style="color: whitesmoke;">The FURbaby-Sitters Club</span>
        <button type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse" 
                data-bs-target="#rightnav"
                aria-controls="rightnav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="rightnav"> 
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="professionals">Professionals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pay">Pay Bill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
