{% extends "common/layout.html" %}
{% block main %}
        <h2 class="text-center">Contact Us</h2>
        <form class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-6 col-lg-4 text-start">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" autocomplete="" name="name" placeholder="Name">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-6 col-lg-4 text-start">
                    <label for="subject">Subject: </label>
                    <input type="text" class="form-control" autocomplete="" name="subject" placeholder="Subject">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-6 col-lg-4 text-start">
                    <label for="subject">Message:</label>
                    <textarea class="form-control" autocomplete="" name="subject"
                        placeholder="Your message here"></textarea>
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-auto">
                    <button type="submit" class="col form-control" aria-label="Submit">Submit</button>
                </div>
            </div>
        </form>
{% endblock main %}