{% extends "common/layout.html" %}
{% block main %}
        <h1>Welcome to The Furbaby-Sitters Club!</h1>
        <div class="container main-pg">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex align-content-center mb-4 mb-lg-0">
                    <img class="img-fluid main-img" src="static/images/bg.jpg" style="width: 600px; height: 300px;">
                </div>
                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                    <span>
                        <p>
                            You love your furbabies and so do we!
                        </p>
                        <p></p>
                        We have lots of experience taking care of dogs, cats, and smaller
                        animals too!
                        </p>
                        <p>
                            Check out our Services page to get a basic idea of what we offer,
                            and feel free to use our contact form for any other questions you may have.
                        </p>
                    </span>
                </div>
            </div>
        </div>
{% endblock %}