{% extends "common/layout.html" %}
{% block main %}
        <h2 class="center">Register</h2>
        <form class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-6 col-lg-4 text-start">
                    <label for="acct#">Account Number:</label>
                    <input type="text" class="form-control" autocomplete="" name="acct#" placeholder="Account Number">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-6 col-lg-4 text-start">
                    <label for="name">Name: </label>
                    <input type="text" class="form-control" autocomplete="" name="name" placeholder="Name">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-6 col-lg-4 text-start">
                    <label for="email">Email: </label>
                    <input type="text" class="form-control" autocomplete="" name="email" placeholder="Email">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-6 col-lg-4 text-start">
                    <label for="pwd">Password: </label>
                    <input type="password" class="form-control" autocomplete="" name="pwd" placeholder="Password">
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-auto">
                    <button type="submit" class="col form-control" aria-label="Submit">Submit</button>
                </div>
            </div>
        </form>
{% endblock main %}