{% extends "common/layout.html" %}
{% block main %}
        <h2>Services</h2>
        <div class="row justify-content-center">
            {% for category in categories %}
            <div class="row col-md-4">
                <div class="card">
                    <img class="card-img-top card-thumbnail" src="static/images/{{category.image}}"
                        alt="{{category.alt}}">
                    <div class="card-body">
                        <h5 class="card-title">{{category.type}}</h5>
                        <ul class="list-group list-group-flush">
                            {% for service in category.services %}
                            <li class="list-group-item">{{service}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            </div>
            {% endfor %}
        </div>
{% endblock main %}